<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost\MSSQLSERVER01; Database= weightMonitorSubscriber; Trusted_Connection = True;" name="persistenceConnection" />
    <add connectionString="host= localhost:5672;" name="transportConnection" />
    <add connectionString="Server=localhost\MSSQLSERVER01; Database= weightMonitorSubscriber; Trusted_Connection = True;" name="weightMonitorSubscriberDBConnectionString"/>

  </connectionStrings>
  <appSettings>
    <add key="AuditQueue"
         value="audit" />
    <add key="TimeToBeReceived"
         value="00:10:00" />
    <add key="MeasureEndpoint"
         value="WeightMonitor.Measure" />
    <add key="TrackingEndpoint"
         value="WeightMonitor.Tracking" />
    <add key="ServiceControlQueue"
 value="Particular.Servicecontrol" />
    
  </appSettings>
</configuration>
