<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li> -->


        <li class="nav-item">
            <a class="nav-link" routerLink="user">My Account Details</a>
          </li>

          
        <li class="nav-item">
            <a class="nav-link" routerLink="measure">Add Measure</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="trackingList">Measure History</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li> -->
  <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/trial">All Paths</a>
        </li> -->
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>